sudo: required
dist: trusty
language: rust
os:
  - linux
  - osx
rust:
  # min supported rust version
  - 1.13.0
  - stable
  - beta
  - nightly
matrix:
  allow_failure:
    - rust: nightly
script: scripts/run_tests.sh
after_success: scripts/run_kcov.sh
notifications:
  webhooks: https://coveralls.io/webhook?repo_token=0fXi81cx3Khi8g0Q0mGqsABePoEdJfMcf
