sudo: required
dist: trusty
language: rust

matrix:
  include:
    # optional feature variations
    # we want full coverage, include all features...
    - rust: stable
      env: OPTIONS="--all-features"
           RUN_KCOV=1

    # no features
    - rust: stable
      env: MODULES="client integration-tests proto resolver server"
           OPTIONS="--no-default-features"
           RUN_KCOV=1

    # default features...
    - rust: stable
      env: MODULES="client integration-tests proto resolver server"
           RUN_KCOV=1

    # just openssl
    - rust: stable
      env: MODULES="client integration-tests proto resolver server"
           OPTIONS="--no-default-features --features=dnssec-openssl"
           RUN_KCOV=1

    # just ring
    - rust: stable
      env: MODULES="client integration-tests proto resolver server"
           OPTIONS="--no-default-features --features=dnssec-ring"
           RUN_KCOV=1
           
    # just tls using openssl
    - rust: stable
      env: MODULES="integration-tests server"
           OPTIONS="--no-default-features --features=tls-openssl"
           RUN_KCOV=1
           
    # min rust version
    # - rust: 1.14.0
    - rust: beta
    - rust: nightly

    - os: osx
      rust: stable

    - rust: stable
      env: MODULES="compatibility-tests"
           TDNS_BIND_PATH="../../bind-9.11.0-P1/bin/named/named"
           OPTIONS="--no-default-features --features=bind"

  allow_failures:
    - rust: nightly

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then scripts/install_openssl_deb.sh ; fi
  - if [[ "$MODULES" == "compatibility-tests" ]]; then scripts/install_bind.sh ; fi
script: scripts/run_tests.sh
after_success: scripts/run_kcov.sh
notifications:
  webhooks: https://coveralls.io/webhook?repo_token=0fXi81cx3Khi8g0Q0mGqsABePoEdJfMcf
