{% if dot %}
tls local-tls {
    key-file "{{ dot.private_key }}";
    cert-file "{{ dot.cert_chain }}";
};
{% endif %}

{% if tsig_key %}
key "{{ tsig_key.name }}" {
  algorithm {{ tsig_key.algorithm }};
  secret "{{ tsig_key.secret_key }}";
};
{% endif %}

options {
    directory "/var/cache/bind";
    pid-file "/tmp/named.pid";
    recursion no;
    dnssec-validation no;
    allow-transfer { none; };
    # significantly reduces noise in logs
    empty-zones-enable no;

    listen-on port 53 { any; };
    {% if dot %}
    listen-on port 853 tls local-tls { any; };
    {% endif %}
};

zone "{{ fqdn }}" IN {
     type primary;
     file "/etc/zones/main.zone";
};

{% for zone_name, zone_config in additional_zones -%}
zone "{{ zone_name }}" IN {
    type primary;
    file "/etc/zones/{{ zone_name }}zone";
    {% if zone_config.allow_update %}
    allow-update { {{ zone_config.allow_update }} };
    {% endif %}
    {% if zone_config.allow_transfer %}
    allow-transfer { {{ zone_config.allow_transfer }} };
    {% endif %}
};
{% endfor -%}
