[package]
name = "trust-dns-proto"
version = "0.20.0"
edition = "2018"
authors = ["Benjamin Fry <benjaminfry@me.com>"]

# A short blurb about the package. This is not rendered in any format when
# uploaded to crates.io (aka this is not markdown)
description = """
Trust-DNS is a safe and secure DNS library. This is the foundational DNS protocol library for all Trust-DNS projects.
"""

# These URLs point to more information about the repository
documentation = "https://docs.rs/trust-dns-proto"
homepage = "http://www.trust-dns.org/index.html"
repository = "https://github.com/bluejekyll/trust-dns"

# This points to a file in the repository (relative to this Cargo.toml). The
# contents of this file are stored and indexed in the registry.
readme = "README.md"

# This is a small list of keywords used to categorize and search for this
# package.
keywords = ["DNS", "BIND", "dig", "named", "dnssec"]
categories = ["network-programming"]

# This is a string description of the license for this package. Currently
# crates.io will validate the license provided against a whitelist of known
# license identifiers from http://spdx.org/licenses/. Multiple licenses can
# be separated with a `/`
license = "MIT/Apache-2.0"

[badges]
#github-actions = { repository = "bluejekyll/trust-dns", branch = "main", workflow = "test" }
codecov = { repository = "bluejekyll/trust-dns", branch = "main", service = "github" }
maintenance = { status = "actively-developed" }

[features]
dnssec-openssl = ["dnssec", "openssl"]
dnssec-ring = ["dnssec", "ring"]
dnssec = ["data-encoding"]
testing = []
tokio-runtime = ["tokio/rt-core", "tokio/udp", "tokio/tcp", "tokio/time"]
default = ["tokio-runtime"]

serde-config = ["serde"]

# enables experimental the mDNS (multicast) feature
mdns = ["socket2/reuseport"]

# WARNING: there is a bug in the mutual tls auth code at the moment see issue #100
# mtls = ["tls"]

wasm-bindgen = ["wasm-bindgen-crate", "js-sys"]

[lib]
name = "trust_dns_proto"
path = "src/lib.rs"

[dependencies]
async-trait = "0.1.36"
backtrace = "0.3.50"
data-encoding = { version = "2.3.0", optional = true }
enum-as-inner = "0.3"
futures-channel = { version = "0.3.5", default-features = false, features = ["std"] }
futures-io = { version = "0.3.5", default-features = false, features = ["std"] }
futures-util = { version = "0.3.5", default-features = false, features = ["std"] }
idna = "0.2.0"
ipnet = "2.3.0"
js-sys = { version = "0.3.44", optional = true }
lazy_static = "1.0"
log = "0.4"
openssl = { version = "0.10", features = ["v102", "v110"], optional = true }
rand = "0.7"
ring = { version = "0.16", optional = true, features = ["std"] }
serde = { version = "1.0", optional = true }
smallvec = "1.2"
socket2 = { version = "0.3.12", optional = true }
thiserror = "1.0.20"
tokio = { version = "0.2.22", optional = true }
url = "2.1.0"
wasm-bindgen-crate = { version = "0.2.58", optional = true, package = "wasm-bindgen" }

[dev-dependencies]
env_logger = "0.7"
futures-executor = { version = "0.3.5", default-features = false, features = ["std"] }
tokio = { version = "0.2.22", features = ["rt-core", "time"] }
