[package]
name = "hickory-server"

# A short blurb about the package. This is not rendered in any format when
# uploaded to crates.io (aka this is not markdown)
description = """
Hickory DNS is a safe and secure DNS server with DNSSEC support.
 Eventually this could be a replacement for BIND9. The DNSSEC support allows
 for live signing of all records, in it does not currently support
 records signed offline. The server supports dynamic DNS with SIG0 authenticated
 requests. Hickory DNS is based on the Tokio and Futures libraries, which means
 it should be easily integrated into other software that also use those
 libraries.
"""

# These URLs point to more information about the repository
documentation = "https://docs.rs/hickory-server"

# This points to a file in the repository (relative to this Cargo.toml). The
# contents of this file are stored and indexed in the registry.
readme = "README.md"

version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
homepage.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true
license.workspace = true

[badges]
#github-actions = { repository = "bluejekyll/hickory", branch = "main", workflow = "test" }
codecov = { repository = "hickory-dns/hickory-dns", branch = "main", service = "github" }
maintenance = { status = "actively-developed" }

[features]
backtrace = ["hickory-proto/backtrace"]
dnssec-openssl = [
    "dnssec",
    "openssl",
    "hickory-proto/dnssec-openssl",
    "hickory-resolver/dnssec-openssl",
]
dnssec-ring = [
    "dnssec",
    "hickory-proto/dnssec-ring",
    "hickory-resolver/dnssec-ring",
]
dnssec = ["hickory-recursor?/dnssec"]
# Recursive Resolution is Experimental!
recursor = ["hickory-recursor"]
resolver = ["hickory-resolver"]
sqlite = ["rusqlite"]
toml = ["dep:toml"]

# TODO: Need to figure out how to be consistent with ring/openssl usage...
# dns-over-https-openssl = ["dns-over-openssl", "hickory-client/dns-over-https-openssl", "dns-over-https"]
dns-over-https-rustls = [
    "dns-over-https",
    "hickory-proto/dns-over-https-rustls",
    "hickory-resolver/dns-over-https-rustls",
    "dns-over-rustls",
    "tokio-rustls",
]
dns-over-https = ["h2", "http", "hickory-proto/dns-over-https"]

# TODO: migrate all tls and tls-openssl features to dns-over-tls, et al
dns-over-openssl = [
    "dns-over-tls",
    "dnssec-openssl",
    "hickory-proto/dns-over-openssl",
    "tokio-openssl",
    "hickory-resolver/dns-over-openssl",
]
dns-over-rustls = [
    "dns-over-tls",
    "dnssec-ring",
    "rustls",
    "hickory-proto/dns-over-rustls",
    "hickory-resolver/dns-over-rustls",
    "tokio-rustls",
]
dns-over-tls = []
dns-over-quic = [
    "dns-over-rustls",
    "hickory-proto/dns-over-quic",
    "hickory-resolver/dns-over-quic",
]
dns-over-h3 = [
    "dns-over-rustls",
    "h3",
    "h3-quinn",
    "hickory-proto/dns-over-h3",
    "hickory-resolver/dns-over-h3",
]

# This is a deprecated feature...
tls-openssl = ["dns-over-openssl"]
tls = ["dns-over-openssl"]

webpki-roots = ["hickory-resolver/webpki-roots"]
native-certs = ["hickory-resolver/native-certs"]

testing = []

[lib]
name = "hickory_server"
path = "src/lib.rs"

[dependencies]
async-trait.workspace = true
toml = { workspace = true, optional = true }
bytes.workspace = true
cfg-if.workspace = true
enum-as-inner.workspace = true
futures-util = { workspace = true, default-features = false, features = [
    "std",
] }
h2 = { workspace = true, features = ["stream"], optional = true }
h3 = { workspace = true, optional = true }
h3-quinn = { workspace = true, optional = true }
http = { workspace = true, optional = true }
ipnet = { workspace = true, features = ["serde"] }
openssl = { workspace = true, features = ["v102", "v110"], optional = true }
prefix-trie.workspace = true
rusqlite = { workspace = true, features = ["bundled", "time"], optional = true }
rustls = { workspace = true, optional = true }
serde = { workspace = true, features = ["derive"] }
thiserror.workspace = true
time.workspace = true
tracing.workspace = true
tokio = { workspace = true, features = ["macros", "net", "sync"] }
tokio-openssl = { workspace = true, optional = true }
tokio-rustls = { workspace = true, optional = true }
tokio-util.workspace = true
hickory-proto = { workspace = true, features = [
    "text-parsing",
    "tokio-runtime",
] }
hickory-recursor = { workspace = true, features = [
    "serde-config",
], optional = true }
hickory-resolver = { workspace = true, features = [
    "serde-config",
    "system-config",
    "tokio-runtime",
], optional = true }

[dev-dependencies]
futures-executor = { workspace = true, default-features = false, features = [
    "std",
] }
tokio = { workspace = true, features = ["macros", "rt"] }
tracing-subscriber = { workspace = true, features = [
    "std",
    "fmt",
    "env-filter",
] }

[package.metadata.docs.rs]
all-features = true
default-target = "x86_64-unknown-linux-gnu"
targets = ["x86_64-apple-darwin", "x86_64-pc-windows-msvc"]
rustdoc-args = ["--cfg", "docsrs"]
