name: conformance

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  everything:
    strategy:
      matrix:
        suite:
          - conformance-framework
          - conformance-unbound
          - conformance-bind
          - conformance-hickory
          - conformance-ignored
          - e2e-tests
          - ede-dot-com-run
          - conformance-clippy
          - conformance-fmt

    # host is irrelevant because everything will run in Docker containers
    runs-on: ubuntu-latest
    env:
      DNS_TEST_DOCKER_CACHE_GHA: 1
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rustfmt
      - uses: extractions/setup-just@v3
      # Install the `docker-container` build driver. The GitHub Actions cache
      # backend is supported with this driver, but not the default `docker`
      # driver. Additionally, make `docker build` an alias to
      # `docker buildx build`.
      - uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          use: true
          install: true
      # Expose the GitHub runtime via environment variables
      # (`ACTIONS_RUNTIME_TOKEN` and `ACTIONS_RUNTIME_URL`). This is needed by
      # the `gha` cache backend. These values are normally only available to
      # reusable workflows, not shell commands.
      - uses: crazy-max/ghaction-github-runtime@v3

      - name: ${{ matrix.suite }}
        run: just ${{ matrix.suite }}
